*{
    margin:0px;
    padding: 0px;
}

a {
    text-decoration: none;
    color: 	#4FC0E8;
}

.info {
    text-align: center;
    margin-bottom: 10px;
}
/*
    下划线 下面的内容
*/
.nav {
    margin-top: 10px;
    text-align: center;
}
/*
    skip 跳转功能
*/
.skip {
    margin-top: 10px;
}

.skip #ipt {
    border: 2px solid;
    border-radius: 5px;
}

.skip .btn1{
    border:2px solid;
    border-radius:5px;
    background-color: #fff;
}