* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #AAB2BD;
}


.info {
    margin: 30px auto;
    margin-top: 60px;
    border: 2px solid;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 300px;
    background-color: #F6F7FB;
}

.info a {
    text-decoration: none;
    color: #AAB2BD;
}


.nav {
    margin: 30px auto;
    padding: 30px;
    border: 2px solid;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    background-color: #E6E9EE;
}

/*
    skip 跳转功能
*/
.skip {
    margin-top: 10px;
}

.skip #ipt {
    border: 2px solid;
    border-radius: 5px;
}

.skip .btn {
    border: 2px solid;
    border-radius: 5px;
    background-color: #fff;
}